.contact-form .inputs input:not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
    height: 40px;
    margin-bottom: 30px;
    border-radius: 7px;
}

.themebtnsubmit{
	font-size: 14px;
    font-weight: 500;
    color: #fff !important;
    background: #0088ff;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    width: 200px !important;
    margin-left: 80px;
    margin-top: 50px;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    height: 540px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    /* background: red; */
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
    background: #0088ff;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    width: 200px !important;
    margin-left: 80px;
    margin-top: 50px;
}