<div class="container">
    <div class="row align-items-center justify-content-xl-between justify-content-center">
        <div class="col-xl-8">
            <section>
                <h2>Need a doctor for checkup? Call for an <span>emergency services!</span></h2>
            </section>
        </div>
        <div class="col-xl-4 px-xl-0">
    <div class="action text-white text-center1">
        <h2 style="font-size: 30px;">Call Us : +00 568 468</h2>
        <p class="text-xl-right text-center1">For an appoinment</p>
        <i class="icofont-woman-in-glasses"></i>
    </div>
</div>
    </div>
</div>