{% extends 'base.html' %}
{% load static %}  
{% csrf_token %}
{% block content %}

<main class="site-content">
    <div class="page_header" style="background-image: url('{% static 'img/res.jpg' %}')">
    <div class="page_header d-flex align-items-center">

        <div class="container">

            <section>

                <h2>Appointment</h2>

                <div class="breadcrumbs">

                    <a href="{% url 'home'%}">Home</a>

                    <span>Appointment</span>

                </div>

            </section>
        </div>
        </div>
    </div>
    <!-- /.page_header -->
    <div class="landing-page"><div class="form-appointment"><div class="wpcf7" id="wpcf7-f560-p590-o1">
        {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
             {{message}}
         <button type"button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
         </div>
         {% endif %}
     {% endfor %}
        <form action="{% url 'appointment' %}" method="POST" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
            {% csrf_token %}

<div style="display: none;">

<input type="hidden" name="_wpcf7" value="560">

<input type="hidden" name="_wpcf7_version" value="3.5">

<input type="hidden" name="_wpcf7_locale" value="">

<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">

<input type="hidden" name="_wpnonce" value="dbb28877d5">

</div>

<div class="group">

<div style="width: 48%; float: left;">

<span class="wpcf7-form-control-wrap text-680"><input type="text" name="name" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" placeholder="Name" ></span><br>

<span class="wpcf7-form-control-wrap email-680"><input type="email" name="email" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" placeholder="Email"></span><br>

<span class="wpcf7-form-control-wrap tel-630"><input type="tel" name="phoneno" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" placeholder="Phone"></span><br>

<span class="wpcf7-form-control-wrap textarea-398"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Special notes, concerns, or requirements"></textarea></span></div>

<div style="width: 48%; float: right;">

<h6>What is the best way to reach you?</h6>

<p><span class="wpcf7-form-control-wrap radio-98"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item"><label><input type="radio" name="waytoreach" value="Phone">&nbsp;<span class="wpcf7-list-item-label">Phone</span></label></span><span class="wpcf7-list-item"><label><input type="radio" name="waytoreach" value="Email">&nbsp;<span class="wpcf7-list-item-label">Email</span></label></span></span></span></p>

<h6>Days of the week you are available for appointment:</h6>

<p><span class="wpcf7-form-control-wrap checkbox-465"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item"><label><input type="checkbox" name="dayofweek" value="Monday">&nbsp;<span class="wpcf7-list-item-label">Monday</span></label></span><span class="wpcf7-list-item"><label><input type="checkbox" name="dayofweek" value="Tuesday">&nbsp;<span class="wpcf7-list-item-label">Tuesday</span></label></span><span class="wpcf7-list-item"><label><input type="checkbox" name="dayofweek" value="Wednesday">&nbsp;<span class="wpcf7-list-item-label">Wednesday</span></label></span><span class="wpcf7-list-item"><label><input type="checkbox" name="dayofweek" value="Thursday">&nbsp;<span class="wpcf7-list-item-label">Thursday</span></label></span><span class="wpcf7-list-item"><label><input type="checkbox" name="dayofweek" value="Friday">&nbsp;<span class="wpcf7-list-item-label">Friday</span></label></span></span></span></p>

<h6>Best time of day for your appointment:</h6>

 <p><span class="wpcf7-form-control-wrap radio-98"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item"><label><input type="radio" name="timeofday" value="Morning">&nbsp;<span class="wpcf7-list-item-label">Morning</span></label></span><span class="wpcf7-list-item"><label><input type="radio" name="timeofday" value="Afternoon">&nbsp;<span class="wpcf7-list-item-label">Afternoon</span></label></span></span></span></p></div>

</div>

<div style="text-align: center; padding-top: 2em; border-top: 1px solid #000; margin-top: 1em;"><input type="submit" value="Request My Appointment" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://www.professionalaudiologicalservices.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></div>

<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div></div>


</main><!-- /.site-content -->

{% endblock %}