{% extends 'base.html' %}
{% load static %}  
  
{% block content %}


<main class="site-content">
    <div class="page_header4 d-flex align-items-center">
        <div class="container">

            <section>
                <h2>Lower Back Pain</h2>
                <div class="breadcrumbs">
                    <a href="{% url 'home'%}">Home</a>
                    <span>Lower Back Pain</span>
                </div>
            </section>
        </div>
    </div><!-- /.page_header -->
    <div class="heading text-centert">
    <h2 class="textheadingsize">Low back pain – Phase 1</h2>    
    </div>
    <div class="about-section">
        <div class="container">
                 <div class="text-center">
                    <div class="row">

                        <div class="col-md-4">

                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                            <h3 class="headingtext3">Pelvic Tilt</h3>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Floor Superman</h5>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Supine Bridge</h5>
                        </div>

                        
                    </div>
                </div>
               <div class="text-center">
                    <div class="row textsizetextcente">

                        <div class="col-md-4">

                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                            <h3 class="headingtext3">Lumbar Rotation</h3>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Leg Slide</h5>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Floor Superman</h5>
                        </div>

                        
                    </div>
                </div>
                 
                 
               
        
            </div>
        </div>
    </div><!-- /.about-section -->
    <div class="heading text-centert">
    <h2 class="textheadingsize">Low back pain – Phase 2</h2>    
    </div>
    <div class="about-section">
        <div class="container">
                 <div class="text-center">
                    <div class="row">

                        <div class="col-md-4">

                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                            <h3 class="headingtext3">Pelvic Tilt</h3>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Floor Superman</h5>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Supine Bridge</h5>
                        </div>

                        
                    </div>
                </div>
               <div class="text-center">
                    <div class="row textsizetextcente">

                        <div class="col-md-4">

                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                            <h3 class="headingtext3">Lumbar Rotation</h3>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Leg Slide</h5>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Floor Superman</h5>
                        </div>

                        
                    </div>
                </div>
                 
                 
               
        
            </div>
        </div>
    </div><!-- /.about-section -->
    <div class="heading text-centert">
    <h2 class="textheadingsize">Low back pain – Phase 3</h2>    
    </div>
    <div class="about-section">
        <div class="container">
                 <div class="text-center">
                    <div class="row">

                        <div class="col-md-4">

                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                            <h3 class="headingtext3">Pelvic Tilt</h3>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Floor Superman</h5>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Supine Bridge</h5>
                        </div>

                        
                    </div>
                </div>
               <div class="text-center">
                    <div class="row textsizetextcente">

                        <div class="col-md-4">

                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                            <h3 class="headingtext3">Lumbar Rotation</h3>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Leg Slide</h5>
                        </div>
                        <div class="col-md-4">
                            <iframe width="340" height="245" src="https://www.youtube.com/embed/fK_xUE3OKIE?feature=oembed&amp;wmode=opaque%22%20frameborder=%220%22%20allow=%22accelerometer;%20autoplay;%20encrypted-media;%20gyroscope;%20picture-in-picture%22">
                            </iframe>
                        <h5 class="headingtext3">Floor Superman</h5>
                        </div>

                        
                    </div>
                </div>
                 
                 
               
        
            </div>
        </div>
    </div><!-- /.about-section -->

   
</main><!-- /.site-content -->

{% endblock %}




         