{% extends 'base.html' %}
{% load static %}  
  
{% block content %}


<main class="site-content">
    <div class="page_header d-flex align-items-center">
        <div class="container">
            <section>
                <h2>Occupational Health <br>Physiotherapy Services</h2>
                <div class="breadcrumbs">
                    <a href="{% url 'home'%}">Home</a>
                    <span>Occupational Health Physiotherapy Services</span>
                </div>
            </section>
        </div>
    </div>
    <!-- /.page_header --></div>
    </div><!-- /.about-section -->
    <div class="cta-section cta-bg">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between justify-content-center">
                <div class="row">
                <div class="col-xl-6">
                <span>Connect Health is one of the largest occupational health physiotherapy providers in the UK. With an established track record over 30 years, we work with over 100 businesses and NHS contracts in the prevention and effective management of musculoskeletal disorders (MSDs) within the workplace.With a national coverage, we have a wide-ranging customer portfolio in public and private sectors, covering areas from fisheries to pharmaceuticals, call centres to constabulary and anything in between.
                Our service offer provides scope on key areas around occupational health and safety such as prevention, assessment, rehabilitation and training.
                Services are delivered through a team of specialists, which assists in reducing musculoskeletal risk and sickness absence, improves the wellbeing of employees, with significant return on investment.</span>
                                    
                </div>
                <div class="col-xl-6 imgsizes">
                    <img src="{% static 'img/sparks.jpg'%}">
                </div>
            </div>
            </div>
        </div>

        </div>
        <div class="patientinformation-section1">
        <div class="container">
           <div class="container-fluid stat-container orange">
            <div class="row textpaddingtop">
                <span>We have a duty of care to make sure our clients and colleagues are safe and supported. These are unprecedented times, but we would like to reassure you that we are, at all points, following the relevant government guidance as it develops.
                </span><br>
                <span>
                If you are home working, please check out our Well-being Tips to help manage your physical and mental health while working from home. We can also provide additional support to your business during these times for workplace and home working. To find out more please contact us in the ‘Get in Touch’ section below.</span>
            </div>
                </div>
                </div>
            </div>
        </div>
    <div class="mission-vission">
        <div class="container">
     <div class="container-fluid stat-container orange">
            <div class="row textcolor3">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/question.png'%}">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">What is a Musculoskeletal Disorder?</h3>
                    <span>A significant cause of working days lost, musculoskeletal disorders affect the bones, joints and muscles.</span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
             <div class="row textcolor4">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/IAPT-icon-04.png'%}" alt="Site Logo">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">The Solution</h3>
                
                    <span>Connect Health’s Occupational Health Physiotherapy Services consist of a holistic service covering prevention, assessment, rehabilitation and training.
                    </span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
           <div class="row textcolor5">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/img8.png'%}">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">Why Connect Health?</h3>
                   
                    <span>We will work with you to achieve financial savings, better employee outcomes, innovative solutions and proactive musculoskeletal health management.</span>
                    
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
            <div class="row textcolor6">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/hands.png'%}">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">Who We Work With</h3>
                    
                    <span>See a wide range of customer stories in public and private sectors from manufacturing to housing, rail to retail.</span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
            <div class="row textcolor7">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/folder.png'%}">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">Occupational Resources</h3>
                    <span>Gain access to a range of comprehensive health, well-being and lifestyle advice and information to assist employees to improve their health and well-being.
               </span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
            <div class="row textcolor8">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/website-brochure-icon-v2-02.png'%}">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">Occupational Health Services Brochure</h3>
                    <span>Are your employees fit, healthy & engaged? Take a look at our Occupational Health Services brochure to see how our services, and the associated financial savings, are benefiting our customers and their employees.</span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
            <div class="row textcolor9">
                <div class="col-md-2 img1">
                     <img src="{% static 'img/img9.png'%}">
                </div>
                <div class="col-md-7">
                    <h3 class="textpaddingtop">Delivering emergency NHS OH Physiotherapy services during COVID-19</h3>
                    <span>Connect Health have partnered with Heath Management Limited to deliver on a new NHS England Occupational Health framework.</span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-dark">Find out more</button>
                </div>

            </div>
      </div>
            </div>
        </div>
    </div><!-- /.mission-vission -->
   
        <div class="cta-section cta-bg1">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between justify-content-center">
                <div class="row">
                <div class="col-xl-6">
                    
                    <h2 class="textpadding1">Reducing Musculoskeletal cases and demonstrating clinical and financial return on investment</h2>

                <span>Connect Health has delivered expert occupational health physiotherapy services to a leading food manufacturing company for over 10 years.</span>
                <button class="btn btn-dark">View Full case study link</button>
                </div>
                <div class="col-xl-6 imgsizes">
                    <img src="{% static 'img/hhh2.png'%}">
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-xl-between justify-content-center">
                <div class="col-xl-12">
         
                </div>
                </div>
            </div>
        </div>
    </div><!-- /.cta-section -->
    <div class="testimony-section">
<div class="container">
    <div class="row justify-content-center">
        <div class="section-header text-center col-lg-8">
            <h2>Patient Testimonials</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="testimony owl-carousel">
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
            <div class="testimony-item">
                <div class="d-flex justify-content-between align-items-center testimony-header">
                    <div class="reviewer-photo">
                        <img src="{% static 'img/testimony/01.jpg'%}" alt="Reviewer Name" />
                    </div>
                    <i class="icofont-quote-right"></i>
                </div>
                <div class="d-flex justify-content-between reviewer">
                    <div class="reviewer-detail">
                        <h2>Amber Morales</h2>
                        <p>Product Designer</p>
                    </div>
                    <div class="the_ratings">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                    </div>
                </div>
                <h2>Duis aute irure dolor in reprehe voluptate velit esse cillum dolo sunt culpa officia.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
            </div>
        </div>
    </div>
</div>
</div><!-- /.testimony-section -->

</main><!-- /.site-content -->

{% endblock %}       
       
       
     
                  