{% extends 'base.html' %}
{% load static %}  
  
{% block content %}
<main class="site-content">
    {% for i in partners_page %}
    <div class="page_header" style="background-image: url('{{i.header_image.url}}')">
    <div class="page_header5 d-flex align-items-center">
        <div class="container">
            <section>
                <h2>Partners</h2>
                <div class="breadcrumbs">
                    <a href="{% url 'home'%}">Home</a>
                    <span>Partners</span>
                </div>
            </section>
        </div>
    </div>
</div>
{% endfor %}
    <!-- /.page_header -->
    <div class="heading text-centert">
         <h1 class="textheadingsize">Our Partners</h1> 
    </div>
    <div class="about-section">
        <div class="container">
           <div class="text-center">
                    <div class="row">
                        {% for i in our_partners_img %}
                        <div class="col-md-4">
                            <img src="{{i.partners_image.url}}" class="rounded">
                        </div>
                        {% endfor %}
                    </div>
                </div> 
        </div>         
    </div><!-- /.about-section -->
      <div class="mission-vission">
            <div class="container">
         <div class="container-fluid stat-container orange">
            {% for i in our_partners %}
                <div class="row textcolorrow">
                    <div class="col-md-2 imgpartner">
                         <img src="{{i.image.url}}" alt="Site Logo">
                    </div>
                    <div class="col-md-7">
                        <h3 class="toppadding">{{i.title}}</h3>
                        
                        <span>{{i.paragraph}}</span>
                    </div>
                    <div class="col-md-3">
                        <a href="{{i.link}}" target="_blank"><button class="btn btn-primary row">Read More</button></a>
                    </div>

                </div>
                {% endfor %} 
          </div>
                </div>
           
        </div><!-- /.mission-vission -->
    <br>
    
</main><!-- /.site-content -->


{% endblock %}



           